.mypage-main
  = render "left-content"
  .right-content
    .right-content__user-box
      .right-content__user-box--other
        .right-content__user
          %p ユーザー名
    .right-content__buy-box
      .right-content__box
        .right-content__item
          %p 購入した商品
      .right-content__item-box
