.pay
  .pay__method
    支払い方法
  .pay__line
  .pay__card
    クレジットカード
  = link_to '新規カードを登録する' , '#' , class:'pay__new__card'
  .pay__line
  = link_to '選択した支払い方法を使う' , '#' , class:'pay__use'
  = link_to '支払い方法について >' , '#' , class:'pay__of__method'