.header
  .header__body
    .header__body--top
      %h1.header__body--top--icons
        = link_to root_path, class: "header__body--top--icons--icon" do
          = image_tag 'logo/logo.png', class: 'header__body--top--icons--icon--logo'