.header
  .header__body
    .header__body--top
      = image_tag 'logo/logo.png', height: 40, width: 140, class: 'header__body--logo'
      .header__body--search
        .form    
          = form_with url: root_path do |f|
            = f.text_field :content, class: 'form__input', placeholder: 'キーワードから探す'
            = f.submit class: 'form__submit'
      %ul.result      
    .header__body--nav
      %ul.navLeft
        %li.category
          %a(href="")
          .category__tree
            %ul.category__list
              %li.category__list--item
        %li.brand
          %a(href="")
          .brand__tree
            %ul.brand__list
              %li.brand__list--item
      %ul.navRight
        %li.login
        %li.rigister
.main
  %section.main__beginning
  %section.main__reason
  %section.main__mainBanner
  %section.main__advantage
  %section.newPostList
  %section.postList
.appbanner
.footer
.purchase