.header
  %p 商品出品ページ
.main
  .parent-box
    .first-box
      .image-box
        .image-box__sample
          %p 出品画像
        .image-box__mandatory
          %p 必須
      .advice-box
        %p 最大10枚までアップロードできます
      .image-box__main
        -# = label :image, class: "item-image" do
        -#   = icon('fas', 'camera', class: "icon")
        -#   = file_field :image, class: "hidden"

    .second-box 
      .item-name
        .item-name__sample
          %p 商品名
        .item-name__mandatory
          %p 必須
      .item-title
        %input.item-input-title{:name => '#', :placeholder => '40字まで', :type => 'text', :value => ''}/
      .item-explanation
        .item-explanation__sample
          %p 商品の説明
        .item-explanation__mandatory
          %p 必須
      .explanation-text
        %textarea
          :preserve
        -# %textarea.item-input-explanation{:name => '#', :placeholder => '商品の説明(必須1,000文字以内)', :type => 'textarea', :value => ''}/

    .third-box
      .third-box__title
        %p 商品の詳細
      .item-category
        .item-category__sample
          %p カテゴリー
        .item-category__mandatory
          %p 必須
      .item-category__select
        %select{:name => 'category'}
          %option{:value => '0'} レディース
          %option{:value => '1'} メンズ
          %option{:value => '2'} キッズ
          %option{:value => '3'} インテリア
          %option{:value => '4'} ホビー
          %option{:value => '5'} 美容
          %option{:value => '6'} 家電
          %option{:value => '7'} スポーツ
          %option{:value => '8'} その他
      .item-brand
        .item-brand__sample
          %p ブランド
        .item-brand__optional
          %p 任意
      .brand-title
        %input.brand-input-title{:name => 'name', :placeholder => '(例)シャネル', :type => 'text', :value => ''}/
      .item-status
        .item-status__sample
          %p 商品の状態
        .item-status__mandatory
          %p 必須
      .item-status__select
        %select{:name => 'status'}
          %option{:value => '0'} 新品・未使用
          %option{:value => '1'} 未使用に近い
          %option{:value => '2'} 目立った傷や汚れなし
          %option{:value => '3'} やや傷や汚れあり
          %option{:value => '4'} 傷や汚れあり
          %option{:value => '5'} 全体的に状態が悪い

    .fourth-box
      .fourth-box__title
        %p 配送について
      .shipping-fee
        .shipping-fee__sample
          %p 配送料の負担
        .shipping-fee__mandatory
          %p 必須
      .shipping-fee__select
        %select{:name => 'shipping'}
          %option{:value => '0'} 送料込み(出品者負担)
          %option{:value => '1'} 着払い（購入者負担)
      .shipping-region
        .shipping-region__sample
          %p 発送元の地域
        .shipping-region__mandatory
          %p 必須
      .shipping-region__text
        %input.shipping-input-region{:name => '#', :placeholder => '都道府県名を入力してください', :type => 'text', :value => ''}/
      .until-shipping
        .until-shipping__sample
          %p 発送までの日数
        .until-shipping__mandatory
          %p 必須
      .until-shipping__select
        %select{:name => 'due'}
          %option{:value => '0'} 1~2日で発送
          %option{:value => '1'} 2~3日で発送
          %option{:value => '2'} 4~7日で発送

    .fifth-box
      .standard-price
        %p 価格(¥300 ~ ¥9,999,999)
      .price-box
        .price-box__sample
          .price-box__sample-other
            %p 販売価格
          .price-box__mandatory
            %p 必須
        .price-box__text
          %input.item-input-price{:name => '#', :placeholder => '¥300', :type => 'text', :value => ''}/

    .btn-box
      = button_tag '出品する', type: 'submit', class: 'item-sell__btn'
      = button_tag 'トップページに戻る', type: 'submit', class: 'redirect-form__btn'
.footer
