.header
  .header__headerBody
    .header__headerBody__headerTop
      .header__headerBody__headerTop__logo
        %h1.APP
          %a(href="")
      .header__headerBody__headerTop__search
        %form(action="")
    .header__headerBody__headerNav
      .header__headerBody__headerNav__navLeft
      .header__headerBody__headerNav__navRight
.main
  %section.main__beginning
  %section.main__reason
  %section.main__mainBanner
  %section.main__advantage
  %section.newPostList
  %section.postList
.appbanner
.footer
.purchase