.header
  FURIMA
.contents
  %h2.content__title
    購入内容の確認
  .content__image
    %p.content__image--title
      サンプル
    %p.content__image--price
      %span
        送料込み(税込)
      %span
        ¥5,800
  .content__price
    %span
      支払い金額
    %span
      ¥5,800
  .content__payment
    .content__payment--title
      支払い方法
  .content__delivery-address
    .content__delivery-address--title
      配送先

  .content__submit
    .content__submit--title
      配送先と支払い方法の入力を完了してください。
    .content__submit--btn
      
.footer
