$white-color: #ffffff;
$red-color: #ff0000;
$black-color: #000000;

@mixin field-design {
  background-color: $red-color;
  width: 40px;
  height: 23px;
  color: $white-color;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin field-designBlue {
  background-color: #99CCFF;
  width: 40px;
  height: 23px;
  color: $black-color;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin btn {
  font-size: 15px;
  height: 80px;
  width: 300px;
  border-radius: 10px;
}

@mixin flex-size {
  display: flex;
  font-size: 15px;
}

@mixin font-weight {
  font-weight: bold;
}

@mixin height-width {
  height: 100px;
  width: 100%;
}

@mixin select {
  margin-bottom: 25px;
  width: 600px;
  height: 40px;
  padding-left: 10px;
}

@mixin input {
  margin-bottom: 25px;
  width: 587px;
  height: 40px;
  padding-left: 10px;
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin border-radius {
  border-radius: 10px;
}

@mixin text-align {
  text-align: center;
}

.header {
  @include font-weight;
  @include height-width;
  @include text-align;
  background-color: $white-color; 
  font-size: 20px; 
  line-height: 100px;
}

.main {
  padding: 0 350px;
  .parent-box {    
    background-color: $white-color;
    .new_item {
      .first-box {     
        background-color: $white-color;
        height: 400px; 
        padding-top: 15px;    
        border: ridge;
        @include border-radius;
        .image-box {
          @include flex-size;
          .image-box__sample {
            @include text-align;
            color: $black-color;
            margin:0 0 10px 30px;
            @include font-weight;
          }
          .image-box__mandatory {
            @include field-design
          }
        }     
        .advice-box {
          height: 100px;
          padding-left: 30px;
        }
        #image-box {
          display: flex;
        }
        #image-field {
          background-color: gray;
          height: 124px;
          width: 100%;
          text-align: center;
          line-height: 124px;
        }

        $preview-bgc: #3ccace;

        #previews {
          display: flex;
        }
        .preview-box {
          border: 1px solid;
          border-color: $preview-bgc;
        }
        .preview-text {
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          padding: 0 10px;
        }     
        
        .preview {
          &__edit {
            color: $white-color;
            background-color: $preview-bgc;
          }
          &__delete {
            color: $white-color;
            background-color: $preview-bgc;
          }
        }
        .none {
          display: none;
        }
      }

      .second-box {
        background-color: $white-color;
        height: 300px;     
        margin-top: 20px;
        padding: 15px 0 30px 30px;        
        border: ridge;
        @include border-radius;
        .item-name {
          @include flex-size;
          .item-name__sample {
            @include text-align;
            @include font-weight;
            color: $black-color;
            margin-bottom: 5px;
          }
          .item-name__mandatory {
            @include field-design
          }
        }
        .item-title input{
          @include input;
        }
        .item-explanation {
          @include flex-size;
          .item-explanation__sample {
            @include text-align;
            color: $black-color;
            margin-bottom: 10px;   
            @include font-weight;      
          }
          .item-explanation__mandatory {
            @include field-design
          }        
        }
        .explanation-text textarea{
          height: 130px;
          width: 680px;
          padding: 10px 10px;
        }
      }
      .third-box {
        background-color: $white-color;
        height: 450px;     
        margin-top: 20px;
        padding: 15px 0 0 30px;         
        border: ridge;
        @include border-radius;
        .third-box__title {
          margin-bottom: 10px;
          font-size: 18px;
          @include font-weight;
        }
        .item-category {
          @include flex-size;
          .item-category__sample {
            @include text-align;
            color: $black-color;
            margin-bottom: 10px;
            @include font-weight;
          }
          .item-category__mandatory {
            @include field-design
          }       
        }
        .item-category__select select{
          @include select;
        }
        .item-brand {
          @include flex-size;
          .item-brand__sample {          
            @include text-align;
            color: $black-color;
            margin-bottom: 10px; 
            @include font-weight; 
          }
          .item-brand__optional {
            @include field-designBlue
          }
        }
        .brand-title input{
          @include input;
        }
        .item-stock {
          @include flex-size;
          .item-stock__sample {
            @include font-weight;
            margin-bottom: 10px;
          }
          .item-stock__mandatory {
            @include field-design;
          }
        }
        .item-stock__text input{
          @include input;
        }
        .item-status {
          @include flex-size;
          .item-status__sample {
            @include text-align;
            color: $black-color;
            margin-bottom: 10px;
            @include font-weight;
          }
          .item-status__mandatory {
            @include field-design;
          }
        }
        .item-status__select select{
          @include select;
        }
      }
      .fourth-box {
        background-color: $white-color;
        height: 330px;     
        margin-top: 20px;
        padding: 15px 0 0 30px;    
        border: ridge;
        @include border-radius;
        .fourth-box__title {
          margin-bottom: 10px;
          font-size: 18px;
          @include font-weight;
        }
        .shipping-fee {
          @include flex-size;
          .shipping-fee__sample {
            @include text-align;
            color: $black-color;
            margin-bottom: 10px;
            @include font-weight;
          }
          .shipping-fee__mandatory {
            @include field-design
          }       
        }
        .shipping-fee__select select{
          @include select;
        }
        .shipping-region {
          @include flex-size;
          .shipping-region__sample {
            @include text-align;
            color: $black-color;
            margin-bottom: 10px;
            @include font-weight;
          }
          .shipping-region__mandatory {
            @include field-design
          }
        }
        .shipping-region__text select{
          @include select;
        }
        .until-shipping {
          @include flex-size;
          .until-shipping__sample {
            @include text-align;
            color: $black-color;
            margin-bottom: 10px;
            @include font-weight;
          }
          .until-shipping__mandatory {
            @include field-design
          }
        }
        .until-shipping__select select{
          @include select;
        }
      }
      .fifth-box {
        background-color: $white-color;
        height: 120px;     
        margin-top: 20px;
        padding: 15px 0 0 30px;    
        border: ridge;
        @include border-radius;
        .standard-price {
          font-size: 15px;
          margin-bottom: 15px;
          @include font-weight;
        }
        .price-box {
          @include display;
          .price-box__sample {
            @include flex-size;
            .price-box__sample-other {
              @include text-align;
              color: $black-color;
              @include font-weight;
            }
            .price-box__mandatory {
              background-color: $red-color;
              width: 40px;
              height: 20px;
              color: $white-color;
              @include text-align;
              margin-left: 5px;
              padding-bottom: 2px;
              border-radius: 5px;
            }         
          }
          .price-box__text input{
            margin-right: 50px;
            width: 400px;
            height: 40px;
            padding-left: 10px;
          }
        }
      }
      .btn-box {
        background-color: $white-color;
        height: 140px;     
        margin-top: 20px;
        @include text-align;
        padding: 25px 50px 0 50px;
        @include display;
        border: ridge; 
        @include border-radius;    
        .item-sell__btn {
          @include btn;
          background-color: $red-color;
          color: $white-color;
        }
        .redirect-form__btn {
          background-color: #005fff; 
          color: $white-color;
          @include btn;             
          border:1px ridge $black-color; 
          text-decoration: none;
          line-height: 80px;
        }
      }
    }  
  }
}
.footer {
  @include height-width;
}

$white: #fff;
$gray_white: #f8f8f8;
$skyblue: #3CCACE;
$black: #272727;
$orange: #ffa500;
$shadow: 0 0 5px rgba(0,0,0,0.4);


.header {
  height: 108px;
  width: 100vw;
  padding: 0 60px;

  &__body {
    max-width: 1040px;
    min-height: 80px;
    margin: 0 auto;
    padding: 15px 0 0;

    &--top {
      display: flex;
      align-items: center;

      &--icons {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;

        &--icon {
          width: 140px;
          display: block;

          &--logo {
            width: 100%;
          }
        }
      }

      .form {
        margin-left: auto;
        width: 100%;

        form {
          display: flex;
          margin-bottom: 5px;
        }

        &__input {
          width: 100%;
          padding: 0 0 0 5px;
        }

        &__submitBtn {
          background-image: image-url("icon/icon.png");
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: $skyblue;
          border: 0;
          width: 36px;
          height: 36px;
          text-indent: -100px;
          cursor: pointer;
        }
      }
    }

    &--nav {
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      height: 35px;
    }

    .navLeft {     //カテゴリー以下のプルダウンメニュー
      display: flex;
      position: relative;
    }

    .navLeft li {
      text-decoration: none;
      list-style: none;
      position: relative;
      padding: 0;
      line-height: 38px;
      z-index: 1 !important;
      width: 200px;
    }

    .navLeft li a {
      background: $white;
      display: block;
      color: $black;
      text-decoration: none;
      line-height: 32px;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 18px;
      padding-left: 5px;
    }

    .navLeft li li {
      height: 0;
      overflow: hidden;
      transition: .3s;
    }

    .navLeft li li a {
      border-right: 1px solid $gray_white;
    }

    .navLeft li ul li ul {
      left: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .navLeft li a:hover {
      color: $orange;
    }

    .navLeft li:hover > ul > li {
      height: 2rem;
      overflow: visible;
    }

    .brand {
      text-decoration: none;
      padding-right: 45px;
    }

    .navRight {
      display: flex;
      margin-left: auto;
    }

    .login, .register {
      padding: 0 0 0 16px;
      line-height: 32px;
    }

    .nav-list {
      color: $black;
      text-decoration: none;
    }
  }
}


.main {
  height: 3300px;
  width: 100vw;

  &__beginning {
    margin-top: -10px;
    width: 100vw;
    height: 560px;
    background-image: image-url("pict/bg-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    z-index: 0 !important;

    &__hearding {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &--title {
        text-shadow: $shadow;
        font-size: 60px;
        line-height: 1.2;
        color: $white;
      }

      &--text {
        text-shadow: $shadow;
        font-size: 18px;
        color: $white;
        line-height: 1.8;
        margin: 16px 0 0 0;
      }
    }
  }

  &__reasons {
    padding: 60px 20px;

    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;

      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: $skyblue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__reason {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;

      &__reasonList {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--image {
          position: relative;
          margin-bottom: 20px;

          .num {     // 数字部分
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 5px 20px;
            background-color: $skyblue;
            color: $white;
          }
        }

        &--subtitle {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {     //文字の強調部分
            color: $skyblue;
          }
        }

        &--explanation {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }

  &__mainBanner {
    background-image: image-url("pict/bg-top.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;

    &__content{
      color: $white;
      text-shadow: $shadow;
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;

      &--title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }

      &--text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
    }
  }

  &__advantage {
    padding: 60px 100px;
    background-color: $white;

    &__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;

      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: $skyblue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__feature {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      &__box {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;

        &--boxImage {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          height: 330px;
        }

        &--boxTitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }

        &--boxText {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  &__newPostList {
    padding: 80px 0 0;
    background-color: $gray_white;
    height: 430px;

    &__puCategory {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }

    &__searchBox {
      height: 310px;

      &--head {
        text-align: center;
      }

      .subtitle {
        font-size: 24px;
        text-decoration: none;
        color: $skyblue;
        font-weight: bold;
      }

      .sub-title {
        text-decoration: none;
      }

      &--lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;

        &--product {
          width: 220px;
          display: inline-block;

          .pic {
            background-color: $white;
            display: inline-block;
          }

          .productImage {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }

          .image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 220px;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }

          .productBody {
            color: $black;
            padding: 16px;

            &--name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }

            &--date {
              font-size: 16px;

              &--box {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  #post {
    padding-bottom: 80px;
    height: 530px;
    background-color: $gray_white;
  }
}


.appbanner {
  background-image: image-url("pict/bg-app.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;

  &__bannerContent {
    color: $white;
    text-align: center;

    &--contentTitle {
      text-shadow: $shadow;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }

    &--contentText {
      font-size: 35px;
      text-shadow: $shadow;
    }

    .badge-a {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
    }
  }
}


.footer {
  padding: 60px 0;
  color: $white;
  background-color: $black;
  text-align: center;

  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      &--contentTitle {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .text {
        color: $white;
        font-size: 12px;
        line-height: 32px;
        text-decoration: none;
      }

      .text:hover {     
        border-bottom: solid 1px;
      }
    }
  }

  &__whiteLogo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }

  p {
    font-size: 14px;
  }
}


.btn:hover {     //purchaseの出品ボタン
  opacity: .8;
}

.purchase {
  width: 120px;
  background: $skyblue;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &--exhibition {
    color: $white;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
}


.badge {     //Apple、Googleのボタン
  display: flex;
  margin: 24px 0 0 0;
}

.aBage {
  margin-right: 10px;
}

.gBadge {
  margin-top: -13px;
}

.appBadge {
  vertical-align: bottom;
  border-radius: 9px;
}

.googleBadge {
  vertical-align: bottom;
}

.aBadge:hover {
  opacity: .5;
}

.gBadge:hover {
  opacity:  .5;
}
