.contents {
  margin: 0 auto;
  width: 700px;
}

.header {
  height: 128px;
  width: 100vw;
  text-align: center;
  line-height: 128px;
}

.content {
  &__title {
    text-align: center;
    font-size: 24px;
    background-color: blue;
    height: 98px;
    line-height: 98px;
  }
  &__image {
    height:145px;
    background-color: yellow;
  }
  &__price {
    height: 181px;
    background-color: green;
  }
  &__payment {
    height: 111px;
    background-color: gray;
  }
  &__delivery-address {
    height: 105px;
    background-color: darkgray;
  }
}