.header {
  height: 108px;
  width: 100vw;
  padding: 0 60px;
  &__body {
    width: 100%;
    max-width: 1040px;
    min-height: 80px;
    margin: 0 auto;
    padding: 15px 0 0;
    &--top {
      position: relative;
      display: flex;
      align-items: center;
      &--icons {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        &--icon {
          width: 140px;
          display: block;
          &--logo {
            width: 100%;
          } 
        }
      }
      // FURIMAロゴのform_wiht
      .form {
        margin-left: auto;
        width: 100%;
        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;
        }
        &__input {
          width: 100%;
          height: 36px;
          padding: 0 0 0 5px;
        }
        &__submitBtn {
          background-image: url("icon/icon.png");
          background-size: 20px;
          background-position: center;
          background-repeat: no-repeat;
          background-color: #3CCACE;
          border: none;
          width: 36px;
          height: 36px;
          text-indent: -9999px;
          cursor: pointer;
        }
      }
    }
    &--nav {
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      height: 35px;
    }
    // カテゴリー以下のプルダウンメニュー
    .navLeft {
      display: flex;
      position: relative;
    }  
    .navLeft li {
      text-decoration: none;
      list-style: none;
      position: relative;
      padding: 0;
      line-height: 38px;
      z-index:1 !important;
      width: 200px;
    }  
    .navLeft li a {
      background: #fff;
      color: #333;
      display: block;
      text-decoration: none;
      line-height: 32px;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: 18px;
      padding-left: 5px;
    } 
    .navLeft li li {
      height: 0;
      overflow: hidden;
      transition: 0.3s;
    }  
    .navLeft li li a {
      border-right: 1px solid #eee;
    }  
    .navLeft li ul li ul {
      left: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }  
    .navLeft li a:hover {
      color: orange;
    }
    .navLeft li:hover > ul > li {
      height: 2rem;
      overflow: visible;
    }
    // 

    .brand {
      text-decoration: none;
      padding-right: 45px;
    }
    .login, .register {
      padding: 0 0 0 16px;
      line-height: 32px;
    }
    .li {
      color: #333;
    }
    .navRight {
      display: flex;
      margin-left: auto;
    }
  }
}


.main {
  height: 3300px;
  width: 100vw;

  &__beginning {
    margin-top: -10px;
    width: 100vw;
    height: 560px;
    background-image: url("pict/bg-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    z-index: 0 !important;
    &__hearding {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &--title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &--text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.8;
        margin: 16px 0 0 0;
      }
    }
  }

  &__reasons {
    padding: 60px 20px;
    &__title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__reason {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__reasonList {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--image {
          position: relative;
          margin-bottom: 20px;
        }
        &--subtitle {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
        }
        &--explanation {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
    // 文字の強調部分
    span {
      color: #3CCACE;;
    }
    // 数字部分
    .num {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 4%;
      font-size: 30px;
      text-align: center;
      margin: 0 5px 0 0;
      padding: 10px 20px;
      background-color: #3CCACE;
      color: #fff;
    }
  }

  &__mainBanner {
    background-image: url("pict/bg-top.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__content{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &--title {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &--text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
    }
  }

  &__advantage {
    padding: 60px 100px;
    background-color: #fff;
    &__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__feature {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__box {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &--boxImage {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          height: 330px;
        }
        &--boxTitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &--boxText {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }

  &__newPostList {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 430px;
    &__puCategory {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__searchBox {
      height: 310px;
      &--head {
        text-align: center;
      }
      .subtitle {
        font-size: 24px;
        text-decoration: none;
        color: #3CCACE;
        font-weight: bold;
      }
      &--lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &--product {
          width: 220px;
          display: inline-block;
          float: left;
          .a {
            background-color: #fff;
            display: inline-block;
          }
          .productImage {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
          }
          .image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 220px;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
          .productBody {
            background-color: white;
            color: #333;
            padding: 16px;
            &--name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            &--date {
              font-size: 16px;
              &--box {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  #post {
    padding-bottom: 80px;
    height: 530px;
    background-color: #f8f8f8;
  }
}


.appbanner {
  background-image: url("pict/bg-app.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__bannerContent {
    color: #fff;
    text-align: center;
    &--contentTitle {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &--contentText {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    // %aside.appbannerのApple、Googleのボタン
    .badge-a {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
    }
    .aBage-a{
      margin-right: 10px;
    }
    .gBadge-a {
      margin-top: -13px;
    }
    .appBadge-a {
      vertical-align: bottom;
      border-radius: 9px;
    } 
    .googleBadge-a {
      vertical-align: bottom;
    }
  }
}


.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &--contentTitle {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .tex {
        color: #fff;
        font-size: 12px;
        line-height: 32px;
        text-decoration: none;
      }
    }
  }
  &__whiteLogo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
  }
}


.purchase {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &--exhibition {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
}


// Apple、Googleのボタン
.badge {
  display: flex;
  margin: 24px 0 0 0;
}
.aBage {
  margin-right: 10px;
}
.gBadge {
  margin-top: -13px;
}
.appBadge {
  vertical-align: bottom;
  border-radius: 9px;
} 
.googleBadge {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}
a.aBadge:hover {
  opacity: 0.5;
}
a.gBadge:hover {
  opacity:  0.5;
}
a.tex:hover {
  border-bottom: solid 1px;
}
a.btn:hover {
  opacity: 0.8;
}