$white-color: #ffffff;
$red-color: #ff0000;
$black-color: #000000;

@mixin field-design {
  background-color: $red-color;
  width: 40px;
  height: 20px;
  color: $white-color;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin field-designBlue {
  background-color: #99CCFF;
  width: 40px;
  height: 20px;
  color: $black-color;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin btn {
  font-size: 15px;
  height: 80px;
  width: 300px;
  border-radius: 10px;
}

@mixin flex-size {
  display: flex;
  font-size: 15px;
}

@mixin font-weight {
  font-weight: bold;
}

@mixin height-width {
  height: 100px;
  width: 100%;
}

@mixin select {
  margin-bottom: 25px;
  width: 600px;
  height: 40px;
  padding-left: 10px;
}

@mixin input {
  margin-bottom: 25px;
  width: 587px;
  height: 40px;
  padding-left: 10px;
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin border-radius {
  border-radius: 10px;
}

@mixin text-align {
  text-align: center;
}

.header {
  @include font-weight;
  @include height-width;
  @include text-align;
  background-color: $white-color; 
  font-size: 20px; 
  line-height: 100px;
}

.main {
  padding: 0 350px;
  .parent-box {    
    background-color: $white-color;
    .first-box {     
      background-color: $white-color;
      height: 300px; 
      padding-top: 15px;    
      border: ridge;
      @include border-radius;
      .image-box {
        @include flex-size;
        .image-box__sample {
          @include text-align;
          color: $black-color;
          margin:0 0 10px 30px;
          @include font-weight;
        }
        .image-box__mandatory {
          @include field-design
        }
      }     
      .advice-box {
        font-size: 15px;
        margin-bottom: 10px;
        padding-left: 30px;
      }
      .image-box__main {
        background-color: #add8e6;
        height: 220px;
        margin: 0 0 35px 30px;
        width: 680px;        
        @include text-align;
        line-height: 200px;
        border: 1px solid blue;
        @include border-radius;
        input {
          display: none;
        }       
      }
    }
    .second-box {
      background-color: $white-color;
      height: 300px;     
      margin-top: 20px;
      padding: 15px 0 30px 30px;        
      border: ridge;
      @include border-radius;
      .item-name {
        @include flex-size;
        .item-name__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;
          @include font-weight;
        }
        .item-name__mandatory {
          @include field-design
        }
      }
      .item-title input{
        @include input;
      }
      .item-explanation {
        @include flex-size;
        .item-explanation__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;   
          @include font-weight;      
        }
        .item-explanation__mandatory {
          @include field-design
        }        
      }
      .explanation-text textarea{
        height: 180px;
        width: 680px;
      }
    }
    .third-box {
      background-color: $white-color;
      height: 330px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;         
      border: ridge;
      @include border-radius;
      .third-box__title {
        margin-bottom: 10px;
        font-size: 18px;
        @include font-weight;
      }
      .item-category {
        @include flex-size;
        .item-category__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;
          @include font-weight;
        }
        .item-category__mandatory {
          @include field-design
        }       
      }
      .item-category__select select{
        @include select;
      }
      .item-brand {
        @include flex-size;
        .item-brand__sample {          
          @include text-align;
          color: $black-color;
          margin-bottom: 10px; 
          @include font-weight;    
        }
        .item-brand__optional {
          @include field-designBlue
        }
      }
      .brand-title input{
        @include input;
      }
      .item-status {
        @include flex-size;
        .item-status__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;
          @include font-weight;
        }
        .item-status__mandatory {
          @include field-design
        }
      }
      .item-status__select select{
        @include select;
      }
    }
    .fourth-box {
      background-color: $white-color;
      height: 330px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;    
      border: ridge;
      @include border-radius;
      .fourth-box__title {
        margin-bottom: 10px;
        font-size: 18px;
        @include font-weight;
      }
      .shipping-fee {
        @include flex-size;
        .shipping-fee__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;
          @include font-weight;
        }
        .shipping-fee__mandatory {
          @include field-design
        }       
      }
      .shipping-fee__select select{
        @include select;
      }
      .shipping-region {
        @include flex-size;
        .shipping-region__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;
          @include font-weight;
        }
        .shipping-region__mandatory {
          @include field-design
        }
      }
      .shipping-region__text select{
        @include select;
      }
      .until-shipping {
        @include flex-size;
        .until-shipping__sample {
          @include text-align;
          color: $black-color;
          margin-bottom: 10px;
          @include font-weight;
        }
        .until-shipping__mandatory {
          @include field-design
        }
      }
      .until-shipping__select select{
        @include select;
      }
    }
    .fifth-box {
      background-color: $white-color;
      height: 120px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;    
      border: ridge;
      @include border-radius;
      .standard-price {
        font-size: 15px;
        margin-bottom: 15px;
        @include font-weight;
      }
      .price-box {
        @include display;
        .price-box__sample {
          @include flex-size;
          .price-box__sample-other {
            @include text-align;
            color: $black-color;
            @include font-weight;
          }
          .price-box__mandatory {
            background-color: $red-color;
            width: 40px;
            height: 20px;
            color: $white-color;
            @include text-align;
            margin-left: 5px;
            padding-bottom: 2px;
            border-radius: 5px;
          }         
        }
        .price-box__text input{
          margin-right: 50px;
          width: 400px;
          height: 40px;
          padding-left: 10px;
        }
      }
    }
    .btn-box {
      background-color: $white-color;
      height: 100px;     
      margin-top: 20px;
      @include text-align;
      padding: 25px 50px 0 50px;
      @include display;
      border: ridge; 
      @include border-radius;    
      .item-sell__btn {
        @include btn;
        background-color: $red-color;
        color: $white-color;
      }
      .redirect-form__btn {
        @include btn;
        background-color: #99CCFF;       
      }
    }
  }
}
.footer {
  @include height-width;
}