$white-Color: #ffffff;
$red-Color: #ff0000;
$black-Color: #000000;

@mixin field-Design {
  background-color: $red-Color;
  width: 40px;
  height: 20px;
  color: $white-Color;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin field-DesignBlue {
  background-color: #99CCFF;
  width: 40px;
  height: 20px;
  color: $black-Color;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin btn {
  font-size: 15px;
  height: 80px;
  width: 300px;
  border-radius: 10px;
}

@mixin flex-Size {
  display: flex;
  font-size: 15px;
}

@mixin font-Weight {
  font-weight: bold;
}

@mixin height-Width {
  height: 100px;
  width: 100%;
}

@mixin select {
  margin-bottom: 25px;
  width: 600px;
  height: 40px;
  padding-left: 10px;
}

@mixin input {
  margin-bottom: 25px;
  width: 587px;
  height: 40px;
  padding-left: 10px;
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin border-Radius {
  border-radius: 10px;
}

@mixin text-Align {
  text-align: center;
}

.header {
  @include font-Weight;
  @include height-Width;
  @include text-Align;
  background-color: $white-Color; 
  font-size: 20px; 
  line-height: 100px;
}

.main {
  padding: 0 350px;
  .parent-box {    
    background-color: $white-Color;
    .first-box {     
      background-color: $white-Color;
      height: 300px; 
      padding-top: 15px;    
      border: ridge;
      @include border-Radius;
      .image-box {
        @include flex-Size;
        .image-box__sample {
          @include text-Align;
          color: $black-Color;
          margin:0 0 10px 30px;
          @include font-Weight;
        }
        .image-box__mandatory {
          @include field-Design
        }
      }     
      .advice-box {
        font-size: 15px;
        margin-bottom: 10px;
        padding-left: 30px;
      }
      .image-box__main {
        background-color: #EEFFFF;
        height: 220px;
        width: 680px;
        margin:0 0 35px 30px;
        @include text-Align;
        line-height: 200px;
        border: 1px solid blue;
        @include border-Radius;
        input {
          display: none;
        }       
      }
    }
    .second-box {
      background-color: $white-Color;
      height: 300px;     
      margin-top: 20px;
      padding: 15px 0 30px 30px;        
      border: ridge;
      @include border-Radius;
      .item-name {
        @include flex-Size;
        .item-name__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;
          @include font-Weight;
        }
        .item-name__mandatory {
          @include field-Design
        }
      }
      .item-title input{
        @include input;
      }
      .item-explanation {
        @include flex-Size;
        .item-explanation__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;   
          @include font-Weight;      
        }
        .item-explanation__mandatory {
          @include field-Design
        }        
      }
      .explanation-text textarea{
        height: 180px;
        width: 680px;
      }
    }
    .third-box {
      background-color: $white-Color;
      height: 330px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;         
      border: ridge;
      @include border-Radius;
      .third-box__title {
        margin-bottom: 10px;
        font-size: 18px;
        @include font-Weight;
      }
      .item-category {
        @include flex-Size;
        .item-category__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;
          @include font-Weight;
        }
        .item-category__mandatory {
          @include field-Design
        }       
      }
      .item-category__select select{
        @include select;
      }
      .item-brand {
        @include flex-Size;
        .item-brand__sample {          
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px; 
          @include font-Weight;    
        }
        .item-brand__optional {
          @include field-DesignBlue
        }
      }
      .brand-title input{
        @include input;
      }
      .item-status {
        @include flex-Size;
        .item-status__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;
          @include font-Weight;
        }
        .item-status__mandatory {
          @include field-Design
        }
      }
      .item-status__select select{
        @include select;
      }
    }
    .fourth-box {
      background-color: $white-Color;
      height: 330px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;    
      border: ridge;
      @include border-Radius;
      .fourth-box__title {
        margin-bottom: 10px;
        font-size: 18px;
        @include font-Weight;
      }
      .shipping-fee {
        @include flex-Size;
        .shipping-fee__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;
          @include font-Weight;
        }
        .shipping-fee__mandatory {
          @include field-Design
        }       
      }
      .shipping-fee__select select{
        @include select;
      }
      .shipping-region {
        @include flex-Size;
        .shipping-region__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;
          @include font-Weight;
        }
        .shipping-region__mandatory {
          @include field-Design
        }
      }
      .shipping-region__text select{
        @include select;
      }
      .until-shipping {
        @include flex-Size;
        .until-shipping__sample {
          @include text-Align;
          color: $black-Color;
          margin-bottom: 10px;
          @include font-Weight;
        }
        .until-shipping__mandatory {
          @include field-Design
        }
      }
      .until-shipping__select select{
        @include select;
      }
    }
    .fifth-box {
      background-color: $white-Color;
      height: 120px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;    
      border: ridge;
      @include border-Radius;
      .standard-price {
        font-size: 15px;
        margin-bottom: 15px;
        @include font-Weight;
      }
      .price-box {
        @include display;
        .price-box__sample {
          @include flex-Size;
          .price-box__sample-other {
            @include text-Align;
            color: $black-Color;
            @include font-Weight;
          }
          .price-box__mandatory {
            background-color: $red-Color;
            width: 40px;
            height: 20px;
            color: $white-Color;
            @include text-Align;
            margin-left: 5px;
            padding-bottom: 2px;
            border-radius: 5px;
          }         
        }
        .price-box__text input{
          margin-right: 50px;
          width: 400px;
          height: 40px;
          padding-left: 10px;
        }
      }
    }
    .btn-box {
      background-color: $white-Color;
      height: 100px;     
      margin-top: 20px;
      @include text-Align;
      padding: 25px 50px 0 50px;
      @include display;
      border: ridge; 
      @include border-Radius;    
      .item-sell__btn {
        @include btn;
        background-color: $red-Color;
        color: $white-Color;
      }
      .redirect-form__btn {
        @include btn;
        background-color: #99CCFF;       
      }
    }
  }
}
.footer {
  @include height-Width;
}