$whiteColor: white;
$redColor: red;
$blackColor: black;

@mixin fieldDesign {
  background-color: $redColor;
  width: 40px;
  height: 20px;
  color: $whiteColor;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin fieldDesignBlue {
  background-color: #99CCFF;
  width: 40px;
  height: 20px;
  color: $blackColor;
  text-align: center;
  margin-left: 5px;
  padding-bottom: 2px;
  border-radius: 5px;
}

@mixin btn {
  font-size: 15px;
  height: 80px;
  width: 300px;
  border-radius: 10px;
}

@mixin flexSize {
  display: flex;
  font-size: 15px;
}

@mixin fontWeight {
  font-weight: bold;
}

@mixin heightWidth {
  height: 100px;
  width: 100%;
}

@mixin select {
  margin-bottom: 25px;
  width: 600px;
  height: 40px;
  padding-left: 10px;
}

@mixin input {
  margin-bottom: 25px;
  width: 587px;
  height: 40px;
  padding-left: 10px;
}

@mixin display {
  display: flex;
  justify-content: space-between;
}

@mixin borderRadius {
  border-radius: 10px;
}

@mixin textAlign {
  text-align: center;
}

.header {
  @include fontWeight;
  @include heightWidth;
  @include textAlign;
  background-color: $whiteColor; 
  font-size: 20px; 
  line-height: 100px;
}

.main {
  padding: 0 350px;
  .parent-box {    
    background-color: $whiteColor;
    .first-box {     
      background-color: $whiteColor;
      height: 300px; 
      padding-top: 15px;    
      border: ridge;
      @include borderRadius;
      .image-box {
        @include flexSize;
        .image-box__sample {
          @include textAlign;
          color: $blackColor;
          margin:0 0 10px 30px;
          @include fontWeight;
        }
        .image-box__mandatory {
          @include fieldDesign
        }
      }     
      .advice-box {
        font-size: 15px;
        margin-bottom: 10px;
        padding-left: 30px;
      }
      .image-box__main {
        background-color: lightblue;
        height: 150px;
        width: 700px;
        margin:0 0 35px 30px;
      }
    }
    .second-box {
      background-color: $whiteColor;
      height: 300px;     
      margin-top: 20px;
      padding: 15px 0 30px 30px;        
      border: ridge;
      @include borderRadius;
      .item-name {
        @include flexSize;
        .item-name__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;
          @include fontWeight;
        }
        .item-name__mandatory {
          @include fieldDesign
        }
      }
      .item-title input{
        @include input;
      }
      .item-explanation {
        @include flexSize;
        .item-explanation__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;   
          @include fontWeight;      
        }
        .item-explanation__mandatory {
          @include fieldDesign
        }        
      }
      .explanation-text textarea{
        height: 180px;
        width: 680px;
      }
    }
    .third-box {
      background-color: $whiteColor;
      height: 330px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;         
      border: ridge;
      @include borderRadius;
      .third-box__title {
        margin-bottom: 10px;
        font-size: 18px;
        @include fontWeight;
      }
      .item-category {
        @include flexSize;
        .item-category__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;
          @include fontWeight;
        }
        .item-category__mandatory {
          @include fieldDesign
        }       
      }
      .item-category__select select{
        @include select;
      }
      .item-brand {
        @include flexSize;
        .item-brand__sample {          
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px; 
          @include fontWeight;    
        }
        .item-brand__optional {
          @include fieldDesignBlue
        }
      }
      .brand-title input{
        @include input;
      }
      .item-status {
        @include flexSize;
        .item-status__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;
          @include fontWeight;
        }
        .item-status__mandatory {
          @include fieldDesign
        }
      }
      .item-status__select select{
        @include select;
      }
    }
    .fourth-box {
      background-color: $whiteColor;
      height: 330px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;    
      border: ridge;
      @include borderRadius;
      .fourth-box__title {
        margin-bottom: 10px;
        font-size: 18px;
        @include fontWeight;
      }
      .shipping-fee {
        @include flexSize;
        .shipping-fee__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;
          @include fontWeight;
        }
        .shipping-fee__mandatory {
          @include fieldDesign
        }       
      }
      .shipping-fee__select select{
        @include select;
      }
      .shipping-region {
        @include flexSize;
        .shipping-region__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;
          @include fontWeight;
        }
        .shipping-region__mandatory {
          @include fieldDesign
        }
      }
      .shipping-region__text input{
        @include input;
      }
      .until-shipping {
        @include flexSize;
        .until-shipping__sample {
          @include textAlign;
          color: $blackColor;
          margin-bottom: 10px;
          @include fontWeight;
        }
        .until-shipping__mandatory {
          @include fieldDesign
        }
      }
      .until-shipping__select select{
        @include select;
      }
    }
    .fifth-box {
      background-color: $whiteColor;
      height: 120px;     
      margin-top: 20px;
      padding: 15px 0 0 30px;    
      border: ridge;
      @include borderRadius;
      .standard-price {
        font-size: 15px;
        margin-bottom: 15px;
        @include fontWeight;
      }
      .price-box {
        @include display;
        .price-box__sample {
          @include flexSize;
          .price-box__sample-other {
            @include textAlign;
            color: $blackColor;
            @include fontWeight;
          }
          .price-box__mandatory {
            background-color: $redColor;
            width: 40px;
            height: 20px;
            color: $whiteColor;
            @include textAlign;
            margin-left: 5px;
            padding-bottom: 2px;
            border-radius: 5px;
          }         
        }
        .price-box__text input{
          margin-right: 50px;
          width: 400px;
          height: 40px;
          padding-left: 10px;
        }
      }
    }
    .btn-box {
      background-color: $whiteColor;
      height: 100px;     
      margin-top: 20px;
      @include textAlign;
      padding: 25px 50px 0 50px;
      @include display;
      border: ridge; 
      @include borderRadius;    
      .item-sell__btn {
        @include btn;
        background-color: $redColor;
        color: $whiteColor;
      }
      .redirect-form__btn {
        @include btn;
        background-color: #99CCFF;       
      }
    }
  }
}
.footer {
  @include heightWidth;
}