.gnav {
  display: flex;
  height: 2rem;
  margin: 0 auto;
  // width: 1000px;
}
.gnav > li {/*親階層のみ幅を25%にする*/
  width: 25%;
}
/*全てのリスト・リンク共通*/
.gnav li {
  list-style: none;
  position: relative;
}
.gnav li a {
  background: #fff;
  color: #333;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.gnav li li {
  height: 0;
  overflow: hidden;
  
}
.gnav li li a {
  border-top: 1px solid #eee;
  
}
.gnav li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}
.gnav li ul li ul {
  left: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}