.pay-method {
  height: 100vh;
  width: calc(100% - 450px);
  background-color: #f8f8f8;
  display: flex;
  align-items: center;

  &__box {
    height: 600px;
    width: 600px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    align-items: center;

    &__text {
      height: 80px;
      font-size: 20px;
      font-weight: bold;
      line-height: 80px;
      border: 2px solid;
      border-color: #f8f8f8;
    }

    &__register {
      height: 80px;
      line-height: 80px;
      padding-top: 20px;

      .register {
        text-decoration: none;
        color: #fff;
        background-color: #3CCACE;
        padding: 10px 20px;
        border-radius: 100px;
      }
    }

    &__all-cards {
      height: 400px;
      width: 600px;
      margin-top: 30px;
      padding: 10px;
      
      .card-box {
        height: 80px;
        width: 500px;
        display: flex;
        justify-content: space-between;
        line-height: 80px;
        margin: 10px auto;
        background-color: #f8f8f8;

        .registered-card {
          height: 80px;
          width: 350px;
        }

        .edit-delete {
          height: 80px;
          width: 150px;
          display: flex;
          align-items: center;

          .edit {
            height: 30px;
            width: 60px;
            line-height: 30px;
            background-color: #3CCACE;
            border-radius: 5px;
          }

          .delete {
            height: 30px;
            width: 60px;
            line-height: 30px;
            margin-left: 20px;
            background-color: rgb(224, 44, 44);
            border-radius: 5px;
          }

          .edit-delete-btn {
            text-decoration: none;
            color: #fff;
          }
        }

      }
    }

  }
}