$backColor: #f8f8f8;
$textColor: #3ccace;
$imgColor: lightblue;
$whiteColor: #fff;

.back {
  background: $backColor;
  padding: 40px;

  .show-main {
    background-color: $whiteColor;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 24px 40px 40px;
  
    .items__name {
      font-weight: bold;
      font-size: 24px;
    }
  
    .items__photo_main {
      margin: 30px auto;
      font-weight: bold;
    }
  
    .itmes__photo__sub {
      display: flex;
      
      &__img {
      margin: auto;
    }
  }
  
    .items__price {
      font-size: 40px;
      font-weight: bold;
    }
  
    .information {
      font-size: 18px;
      margin: 30px 0 30px;
    }
  
    .tbl {
      width: 100%;
      height: 375px;
      border-collapse: collapse;
      border: 1px solid $backColor;
      margin-bottom: 40px;
  
      &__left {
        background-color: #eee;
        font-weight: 400;
        width: 25%;
        border: 1px solid #dedede;
        font-size: 14px;
        text-align: center;
        }
  
      &__right {
        border: 1px solid #dedede;
        font-size: 14px;
        text-align: left;
        padding-left: 10px;
      }
  
      &__link {
        text-align: none;
        color: $textColor;
        text-decoration: none;
      }
      }
    
    .option {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
  
      .favorite {
        margin-right: auto;
        padding: 10px 10px;
        border-radius: 40px;
        color: $textColor;
        border: 1px solid #ffb340;
        text-decoration: none;
      }
  
      .bad {
        padding: 10px 10px;
        border-radius:4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }
    }
  }
  
  .cmt {
    background-color: $whiteColor;
    width: 700px;
    margin: 10px auto;
    padding: 24px 40px 40px;
    text-align: center;
  
    &__form {
      width: 642px;
      height: 104px;
    }
  
    &__msg {
      padding: 8px;
      font-size: 14px;
      background-color: $backColor;
      margin: 10px 0;
      text-align: left;
    }
  
    &__send {
      line-height: 48px;
      background: $textColor;
      border: 1px solid $textColor;
      color: $whiteColor;
      width: 60%;
      font-size: 18px;
      border-radius: 100px;
      margin-top: 20px;
    }
  }

  .show__btn {
    margin-top: 80px;

    &__sout {
      color: red;
      font-size: 20px;
    }

    &__link {
      padding: 20px 60px;
      background: #ea352d;
      color: $whiteColor;
      border-radius: 100px;
      text-decoration: none;
    }
  }

  .page {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 10px 30px 0 30px;
  
    &__prev {
      color: $textColor;
      text-decoration: none;
    }

    &__next {
      color: $textColor;
      text-decoration: none;
    }
  }

  .more {
    margin: 40px 30px 0 30px;

    &__list {
      color: $textColor;
      text-decoration: none;
      font-size: 22px;
      font-weight: bold;
    }

    &__img {
      height: 200px;
      width: 200px;
      background-color: $imgColor;
      margin-top: 20px;
    }
  }
}