$backgroundColor: #f8f8f8;
$mainColor: #3CCACE;
$mainBoxFontColor: #fff;
$pointColor: rgb(224, 44, 44);

.devise {
  min-height: 100vh;
  width: 100%;
  background-color: $backgroundColor;
  display: flex;
  align-items: center;
  overflow: scroll;
  color: rgb(51, 51, 51);

  &__loginbox {
    height: 335px;
    width: 600px;
    background-color: $mainBoxFontColor;
    margin: 0 auto;
    text-align: center;

    &__text {
      padding-top: 25px;
      font-size: 24px;
      font-weight: bold;
    }

    &__form {
      height: 250px;
      width: 500px;
      margin: 0 auto;

      .input-text {
        height: 40px;
        width: 300px;
        padding-left: 10px;
      }

      .field-remember {
        padding-top: 20px;
      }

      .text {
        color: $mainColor;
      }
    }
  }

  &__signupbox {
    height: auto;
    width: 720px;
    background-color: $mainBoxFontColor;
    margin: 100px auto;
    text-align: center;
    padding-bottom: 40px;

    &__text {
      height: 100px;
      font-size: 24px;
      font-weight: bold;
      line-height: 100px;
      border: 2px solid;
      border-color: $backgroundColor;
    }

    &__form {
      padding-top: 30px;
      width: 400px;
      margin: 0 auto;

      .field-name {
        display: flex;
        justify-content: space-between;
      }

      .field {
        text-align: left;
        padding: 15px 0 10px 10px;
        font-size: 13px;
        font-weight: bold;

        .must {
          background-color: $pointColor;
          color: $mainBoxFontColor;
          font-size: 12px;
          margin-left: 3px;
          padding: 3px;
          font-weight: normal;
          border-radius: 2px;
        }

        .name {
          height: 40px;
          width: 160px;
        }
      }

      .inputbox {
        margin: 0 auto;
        text-align: start;
      }

      .field-profile {
        height: 100px;
        margin: 0 auto;
        line-height: 100px;
        font-weight: bold;
        font-size: 20px;
      }

      .field-delivery {
        height: 100px;
        margin: 0 auto;
        line-height: 100px;
        font-weight: bold;
        font-size: 20px;
      }

      .input-select select {
        height: 50px;
        width: 85px;
        margin-top: 8px;
        padding: 0 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('icon-arrow.png');
        background-repeat: no-repeat;
        background-size: 15px 15px;
        background-position: right 10px center;
        font-weight: normal;
        font-size: 14px;
      }
    }

      .input-text {
        height: 40px;
        width: 360px;
        padding-left: 10px;
        margin-top: 8px;
        font-weight: normal;
        font-size: 14px;
      }

      #error_explanation {
        text-align: left;
        padding: 30px 0;
        color: $pointColor;
      }

      .field_with_errors {
        display: contents;
      }
  }

      .actions {
        padding-top: 20px;
      }

      .submit-btn {
        height: 40px;
        width: 230px;
        background-color: $mainColor;
        border-radius: 100px;
        color: $mainBoxFontColor;
        border: 1px solid;
      }
}
