* {
  box-sizing: border-box;
}


.header {
  background-color: $gray-color;
  height: 100px;
  width: 100%;
}


body {
  background-color: $lightgray-color;
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-top: 100px;

  .left-content {
    color: $red-color;
    font-size: 25px;
    padding: 30px;

    .left-data {
      color: $black-color;
      font-size: 18px;
      text-decoration: none;
    }

    &__mypage-lists {
      background-color: $white-color;
      margin-left: 100px;
      padding: 30px;

      &__todo-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__good-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__display {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__draft-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__item-display {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__item-trade {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__item-sale {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__item-buy {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__item-past {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__news-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__evaluation-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__guide {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      &__contact {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }
    }

    &__settings {
      margin-left: 100px;
      margin-top: 10px;

      &-box {
        background-color: $white-color;
        padding: 30px;

        &__credit-card {
          border: 1px solid $blue-color;
          margin-bottom: 5px;
        }

        &__mail {
          border: 1px solid $blue-color;
          margin-bottom: 5px;
        }

        &__logout {
          border: 1px solid $blue-color;
          margin-bottom: 5px;
        }
      }
    }
  }

  .right-content {
    &__user-box {
      background-color: $white-color;
      height: 450px;
      margin-top: 30px;
      width: 800px;

      &--other {
        background-color: $blue-color;
        height: 100px;
        width: 800px;

        .right-content__user {
          font-family: "Gill Sans",sans-serif;
          font-size: 18px;
          line-height: 100px;
          text-align: center;
        }
      }
    }

    &__buy-box {
      background-color: $white-color;
      height: 450px;
      margin-right: 100px;
      margin-top: 55px;
      width: 800px;

      .right-content__box {
        background-color: $blue-color;
        height: 100px;
        width: 800px;
        
        .right-content__item {
          font-family: "Gill Sans",sans-serif;
          font-size: 18px;
          line-height: 100px;
          text-align: center;
        }
      }
    }
  }
}



