// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}


.header {
  background-color: $gray-color;
  height: 100px;
  width: 100%;
}


body {
  background-color: $lightgray-color;
  display: flex;
  justify-content: space-around;
  margin-bottom: 200px;
  margin-top: 100px;

  .left-content {
    color: $red-color;
    font-size: 25px;
    padding: 30px;

    .left-data {
      color: $black-color;
      font-size: 18px;
      text-decoration: none;
    }

    &__mypage-lists {
      background-color: $white-color;
      margin-left: 100px;
      padding: 30px;     
      .left-content__mypage {
      }

      .left-content__todo-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__good-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__display {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__draft-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__item-display {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__item-trade {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__item-sale {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__item-buy {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__item-past {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__news-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__evaluation-list {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__guide {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }

      .left-content__contact {
        border: 1px solid $blue-color;
        margin-bottom: 5px;
      }
    }    
    .left-content__settings {
      margin-left: 100px;
      margin-top: 10px;     
      &-box {
        background-color: $white-color;
        padding: 30px;

        .left-content__profile {
        }

        .left-content__credit-card {
          border: 1px solid $blue-color;
          margin-bottom: 5px;
        }

        .left-content__mail {
          border: 1px solid $blue-color;
          margin-bottom: 5px;
        }

        .left-content__logout {
          border: 1px solid $blue-color;
          margin-bottom: 5px;
        }
      }  
    }    
  }

  .right-content {
    &__user-box {
      background-color: $white-color;
      height: 450px;
      margin-top: 30px;
      width: 800px;     
      &--other {
        background-color: $blue-color;
        height: 100px;
        width: 800px;    

        .right-content__user {
          font-family: "Gill Sans",sans-serif;
          font-size: 18px;
          line-height: 100px;
          text-align: center;
        }
      }
    }

    &__buy-box {
      background-color: $white-color;
      height: 450px;
      margin-right: 100px;
      margin-top: 55px;
      width: 800px;     
      .right-content__box {
        background-color: $blue-color;
        height: 100px;
        width: 800px;        
        .right-content__item {
          font-family: "Gill Sans",sans-serif;
          font-size: 18px;
          line-height: 100px;
          text-align: center;      
        }
      }
    }
  }
}












