.devise {
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  overflow: scroll;

  &__loginbox {
    height: 335px;
    width: 600px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;

    &__text {
      padding-top: 25px;
      font-size: 24px;
      font-weight: bold;
    }

    &__form {
      height: 250px;
      width: 500px;
      margin: 0 auto;
      

      .input-text {
        height: 40px;
        width: 300px;
        padding-left: 10px;
      }

      .field__remember {
        padding-top: 20px;
      }

      .text {
        color: #3CCACE;
      }

      .actions {
        padding-top: 20px;
      }

      

    }
  }

  &__signupbox {
    height: 800px;
    width: 800px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    
    &__text {
      font-size: 24px;
      font-weight: bold;
    }

    &__form {
      width: 400px;
      margin: 0 auto;

      .field-name {
        display: flex;
        justify-content: space-between;
      }

      .field {
        text-align: left;
        padding: 10px;
        font-size: 13px;
        font-weight: bold;

        .must {
          background-color: rgb(224, 44, 44);
          color: white;
          font-size: 12px;
          margin-left: 3px;
          padding: 3px;
          font-weight: normal;
          border-radius: 2px;
        }

        .name {
          height: 40px;
          width: 160px;
        }
      }


      .inputbox {
        margin: 0 auto;
        text-align: start;
      }

      .field-delivery {
        height: 50px;
        margin: 0 auto;
        line-height: 50px;
      }

      .input-select select {
        height: 50px;
        width: 85px;
        margin-top: 8px;
      }

      




    }


    .input-text {
      height: 40px;
      width: 360px;
      padding-left: 10px;
      margin-top: 8px;
    }


    }

    .submitBtn {
      height: 40px;
      width: 230px;
      background-color: #3CCACE;
      border-radius: 100px;
      color: #fff;
      border: 1px solid;
    }

}