.header {
  background-color: red;
  height: 400px;
  width: 100vw;
}

.main {
  background-color: blue;
  height: 400px;
  width: 100vw;
}

.appbanner {
  background-color: green;
  height: 400px;
  width: 100vw;

}

.footer {
  background-color: yellow;
  height: 400px;
  width: 100vw;

}