li {
  list-style:none;
}

.header {
  height: 100px;
  width: 100vw;
  padding: 0 60px;

  &__body {
    width: 100%;
    max-width: 1040px;
    min-height: 80px;
    margin: 0 auto;
    padding: 15px 0 0;

    &--top {
      height: 50px;
      position: relative;
      display: flex;
      align-items: center;

      &--logo {
        font-size: 16px;
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
    }

    &--nav {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.navLeft {
  display: flex;
}

.category, .brand, .login, .register {
  text-decoration: none;
}

.navRight {
  display: flex;
}
.form {
  width: 100%;
  margin-bottom: 5px;

  &__input {
    width: calc(100% - 80px);
    height: 36px;
    padding: 0 0 0 5px;
  }
  &__submit {
    height: 38px;
    width: 36px;
    border: 0;
    cursor: pointer;
    background-color: #3CCACE;
    padding: 8px;
    &--btn {
      display: none;
    }
  }
  &__icon {
    height: 19px;
    width: 19px;
    line-height: 19px;
    align-items: center;
  }
}

.main {
  background-color: blue;
  height: 3240px;
  width: 100vw;
}

.appbanner {
  background-color: green;
  height: 360px;
  width: 100vw;
}

.footer {
  background-color: yellow;
  height: 350px;
  width: 100vw;
}