.logout {
  background-color: $white-color;
  height: 200px;
  margin: auto;
  position: relative;
  text-align: center;
  width: 700px;
  
  &__btn {
    background-color: $red-color;
    border-radius: 8px;
    color: $white-color;
    height: 40px;
    left: 50%;
    padding-top: 15px;
    position: absolute;
    text-decoration: none;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
  }
}
