$color: rgb(245,245,245);

.pay {
  background-color: $whiteColor;
  width: 600px;
  height: 360px;
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__method {
    font-size: 26px;
    font-weight: bolder;
  }

  &__line {
    border: 1px $color solid;
    margin: 30px 0 30px;
  }

  &__card {
    font-weight: bolder;
    margin: 0 300px 30px 0 ;
  }

  &__new__card {
   text-decoration: none;
   margin-right: 260px;
   color: $blueColor;
  }

  &__use {
    text-decoration: none;
    font-size: 20px;
    color: #888;
    font-weight: bolder;
    width: 400px;
    height: 40px;
    background-color: #ccc;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 8px;
  }

  &__of__method {
    margin: 30px 0 0 250px;
    text-decoration: none;
    color: $blueColor;
  }
}