$color: rgb(245, 245, 245);

.pay {
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  height: 360px;
  margin: auto;
  padding: 30px;
  text-align: center;
  width: 600px;

  &__method {
    font-size: 26px;
    font-weight: bolder;
  }

  &__line {
    border: 1px $color solid;
    margin: 30px 0;
  }

  &__card {
    font-weight: bolder;
    margin: 0 300px 30px 0;
  }

  &__new__card {
    color: $blue-color;
    margin-right: 260px;
    text-decoration: none;
  }

  &__use {
    background-color: $lightgray-color;
    border-radius: 8px;
    color: $gray-color;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    text-decoration: none;
    width: 400px;   
  }

  &__of__method {
    color: $blue-color;
    margin: 30px 0 0 250px;
    text-decoration: none;
  }
}
